@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: hsl(0, 0%, 9%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.input {
  @apply w-full bg-gray-100 border rounded-lg px-4 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-slate-300;
}